<ion-header>
</ion-header>

<ion-content>
  <div class="container">

    <ion-card class="box">

      <form [formGroup]="formularioRegistro">
        <ion-card-content>
          <img class="foto" src="https://proyecto-final-6656c.firebaseapp.com/assets/img/logo.png">
          <ion-item lines="full">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" formControlName="usuario" required></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password" maxlength="6"></ion-input>
          </ion-item>
        </ion-card-content>
        <br>
        <ion-button block expand="full" (click)="guardar()">Registrar</ion-button>
        <br>
        <p>¿Ya tienes cuenta? <a [routerLink]="['/login']">Login</a>
        </p>
      </form>
    </ion-card>

  </div>

</ion-content>